* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-layout {
  display: flex;
  flex-direction: column;
  background: rgba(26, 26, 29, 0.85);
  height: 100vh;
  overflow: auto;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.actionBtn {
  background-color: rgba(26, 26, 29, 0.1);
  border: 1px solid #c3073f;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  padding: 10px 10px;
  margin: 0px;
  cursor: pointer;
  transition: 0.35s all ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.actionBtn:hover {
  background: #c3073f;
}

.title {
  color: white;
  border-bottom: 2.5px solid #c3073f;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 23px;
}

.department-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1100px;
  margin: 50px auto;
}

.department-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 10px;
  color: white;
  background: rgba(26, 26, 29, 0.6);
  border: 1px solid rgba(26, 26, 29, 0.6);
  border-radius: 3px;
  height: 300px;
  width: 300px;
  transition: 0.3s all ease-in;
}

.department-card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px 2px #6f2232;
}

.department-card h1 {
  flex-grow: 1;
  margin-top: 30px;
}

.department-card .actionBtn {
  margin-bottom: 40px;
  margin-top: 20px;
}

.delete-department-btn {
  position: absolute;
  top: 3%;
  left: 3%;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: white;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 0px;
  color: white;
  background: rgb(0 0 0 / 1000%);
  border: 2.5px solid #c3073f;
  border-radius: 3px;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pressBtn {
  background-color: rgba(26, 26, 29, 0.1);
  border: 1px solid #c3073f;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  padding: 10px 10px;
  margin: 0px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.35s all ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}